
.nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #07ebda;
  font-weight: 50%;
}
.nav img {
  height: 50px;
}

nav ul {
  list-style: none;
  height: 50px;
  width: 700px;
  margin: auto;
}
nav ul li {
  color: rgb(133, 123, 123);
  width: 100px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
mat-toolbar {
  background-color: #07ebda;
}

@media (max-width: 1500px) {
  a img {
    width: 7rem;
    flex-grow: 1;
  }
  .but:hover {
    color: lightblue;
  }
}
.top,
.but {
  justify-content: space-between;
  padding-right: 2rem;
}
.big{
  padding: 0 0 0 20px;
  color: #fff;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.small{
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mat-toolbar{
  padding: 40px 20px;
}